*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: sans-serif;
}
header .row{
    height: 80px;
}
header a{
    color: #000;
    font-size: 20px;
}
.search button{
    border:none;
}
.banner{
    background-color: rgb(10, 10, 80);
    height: 80px;
    display: flex;
    align-items: center;
}
select{
    width: 100%;
    padding: 10px;
}
.bg{
    background-color: #ddd;
}